[{bot_app,
  {plugins, [{irc_protocol, [{bots, [{freenode, {"Oort", "Real name", [{"irc.freenode.net", 6667}], ["##c", "##c++"], undefined}},
                                     {efnet, {"Oort", "Real name", [{"irc.efnet.net", 6667}], [], undefined}}]}]}
             {factoids, []},
             {memos, []}]},
  {redis, {"localhost", port}}}]
